[include]
  path = ~/.gitconfig.user
[core]
  pager = less -+F -iRX
  excludesfile = ~/.gitignore
[push]
  default = upstream
[log]
  follow = true
[diff]
  tool = customvim
[difftool "customvim"]
  cmd = exec_vim.sh -g -R -f -c 'set columns=260' -c 'wincmd =' -d \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = customvim
  conflictstyle = diff3
  defaultToUpstream = false
[mergetool "customvim"]
  cmd = exec_vim.sh -g -f -c 'set columns=260' -c 'wincmd =' -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
  trustExitCode = true
[alias]
  s = status -sb
  desc = describe --tags
  sh = show --shortstat --abbrev-commit --decorate
  sh1 = show --shortstat --abbrev-commit --oneline --no-decorate
  diffro = diff --right-only
  ds = diff --stat
  dsn = diff --stat --name-only
  dsro = diff --stat --right-only
  graph = log --graph --decorate --oneline
  merges = log --merges --decorate --oneline
  md = log --merges --date=short --pretty=format:'%C(yellow)%h %C(cyan)%cd %Creset%s'
  mdp = log --merges --date=short --pretty=format:'%h %cd %s'
  lo = log --oneline
  loro = log --oneline --right-only
  ld = log --date=short --pretty=format:'%C(yellow)%h %C(cyan)%ad%C(red bold)%d %Creset%s'
  logrop = log --right-only --reverse -p
  mb = merge-base --fork-point master
  fp = fetch --prune
  puff = pull --ff-only
  ffp = merge --ff-only @{push}
  ff = merge --ff-only
  non-ff = merge --no-ff --no-edit
  cmend = commit --amend --no-edit
[color]
  ui = auto
[color "status"]
  changed = red bold
  nobranch = red bold
  untracked = red bold
[color "branch"]
  remote = red bold
[color "diff"]
  old = red bold
