[include]
  path = ~/.gitconfig.user
[color]
  ui = auto
[push]
  default = upstream
[core]
  pager = less -FiRX
  excludesfile = ~/.gitignore
[diff]
  tool = customvim
[difftool "customvim"]
  cmd = exec_vim.sh -g -R -f -c 'set columns=260' -c 'wincmd =' -d $LOCAL $REMOTE
[merge]
  tool = customvim
  conflictstyle = diff3
[mergetool "customvim"]
  cmd = exec_vim.sh -g -f -c 'set columns=260' -c 'wincmd =' -d $LOCAL $MERGED $REMOTE
[alias]
  s = status -sb
  desc = describe --tags
  sh = show --shortstat
  ds = diff --stat
  graph = log --graph --decorate --oneline
  merges = log --merges --decorate --oneline
  md = log --merges --date=short --pretty=format:'%C(yellow)%h %C(cyan)%cd %Creset%s'
  lo = log --oneline
  ld = log --date=short --pretty=format:'%C(yellow)%h %C(cyan)%cd %C(red)%d %Creset%s'
  fp = fetch --prune
  puff = pull --ff-only
  ff = merge --ff-only
  non-ff = merge --no-ff --no-edit
[color "status"]
  changed = red bold
  nobranch = red bold
  untracked = red bold
[color "branch"]
  remote = red bold
[color "diff"]
  old = red bold
